.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: .7;
}
